#自分に著作権が無いものかつライセンスがないもの
/assets/

# macOS のゴミファイル
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# VSCode の設定
.vscode/

# ビルド生成物
/build/
/buildV1/
/my_app
*.o
*.a
*.so
*.dylib

# 自動生成ファイル
compile_commands.json

.bear/

# エディタ
.idea/
*.swp
*.swo
*~

.github/